<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <app-service-card imageUrl="assets/raking.jpg" serviceTitle="Raking"
                serviceDescription="Someone will rake your leaves." pageToRouteToUrl="service/raking">
            </app-service-card>
        </div>
        <div class="col-sm-4">
            <app-service-card imageUrl="assets/shoveling.jpg" serviceTitle="Shoveling"
                serviceDescription="Someone will shovel your sidewalks/driveway." pageToRouteToUrl="service/shoveling">
            </app-service-card>
        </div>
        <div class="col-sm-4">
            <app-service-card imageUrl="assets/mowing.jpg" serviceTitle="Lawn Mowing"
                serviceDescription="Someone will mow your lawn." pageToRouteToUrl="service/mowing">
            </app-service-card>
        </div>
    </div>
</div>