<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <app-service-card imageUrl="assets/raking.jpg" serviceTitle="Raking"
                serviceDescription="Someone will rake your leaves." pageToRouteToUrl="service/raking">
            </app-service-card>
        </div>
        <div class="col-md-4 col-sm-6">
            <app-service-card imageUrl="assets/shoveling.jpg" serviceTitle="Shoveling"
                serviceDescription="Someone will shovel your sidewalks/driveway." pageToRouteToUrl="service/shoveling">
            </app-service-card>
        </div>
        <div class="col-md-4 col-sm-6">
            <app-service-card imageUrl="assets/mowing.jpg" serviceTitle="Lawn Mowing"
                serviceDescription="Someone will mow your lawn." pageToRouteToUrl="service/mowing">
            </app-service-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <app-service-card imageUrl="assets/gardening.jpg" serviceTitle="Gardening"
                serviceDescription="Someone will tend to your garden." pageToRouteToUrl="service/gardening">
            </app-service-card>
        </div>
        <div class="col-md-4 col-sm-6">
            <app-service-card imageUrl="assets/pet-care.jpg" serviceTitle="Pet Care"
                serviceDescription="Someone will take care of your pets." pageToRouteToUrl="service/pet-care">
            </app-service-card>
        </div>
        <div class="col-md-4 col-sm-6">
            <app-service-card imageUrl="assets/miscellaneous.jpg" serviceTitle="Miscellaneous"
                serviceDescription="For miscellaneous yard or house work." pageToRouteToUrl="service/miscellaneous">
            </app-service-card>
        </div>
    </div>
</div>