<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <a class="navbar-brand" routerLink="/" (click)="setActiveLink('Home')">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li *ngFor="let page of pages" class="nav-item" (click)="setActiveLink(page.title)">
                <a class="nav-link" [class.active]="page.active" [routerLink]="page.href"> {{page.title}} </a>
            </li>
        </ul>
    </div>
</nav>