<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo mb-5">
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/" (click)="setActiveLink('Home')"> Nice Neighbor </a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let page of pages" class="nav-item" (click)="setActiveLink(page.title)">
                <a class="nav-link" [class.active]="page.active" [routerLink]="page.href"> {{page.title}} </a>
            </li>
        </ul>
    </links>
</mdb-navbar>